In [222]:
import pandas as pd
import numpy as np

In [223]:
#read the data
data = pd.read_csv("f7664209-d97b-4f9b-a7bd-e1fef352177c_Data.csv")

print(data.head())

   Time Time Code    Country Name Country Code  \
0  1992    YR1992     Afghanistan          AFG
1  1992    YR1992         Albania          ALB
2  1992    YR1992         Algeria          DZA
3  1992    YR1992  American Samoa          ASM
4  1992    YR1992         Andorra          AND

  GDP per capita, PPP (constant 2017 international $) [NY.GDP.PCAP.PP.KD]  \
0                                                 ..
1                                   3275.44433583801
2                                   8383.77024779121
3                                                 ..
4                                                 ..

  CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC]
0                                 0.0961965810608727
1                                  0.774724910911141
2                                   2.96498636282543
3                                                 ..
4                                   6.91205338948512

In [224]:
data.columns

Index(['Time', 'Time Code', 'Country Name', 'Country Code',
       'GDP per capita, PPP (constant 2017 international $) [NY.GDP.PCAP.PP.KD]',
       'CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC]'],
      dtype='object')

In [225]:
data.drop(['Time Code','Country Code'],axis=1,inplace=True)

In [226]:
cols = {'GDP per capita, PPP (constant 2017 international $) [NY.GDP.PCAP.PP.KD]':'GDP',
          'CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC]':'CO2',
        'Country Name':'country',
       'Time':'year'}
data.rename(columns=cols, inplace=True)

In [227]:
data.columns

Index(['year', 'country', 'GDP', 'CO2'], dtype='object')

In [228]:
data.head()

   year         country               GDP                 CO2
0  1992     Afghanistan                ..  0.0961965810608727
1  1992         Albania  3275.44433583801   0.774724910911141
2  1992         Algeria  8383.77024779121    2.96498636282543
3  1992  American Samoa                ..                  ..
4  1992         Andorra                ..    6.91205338948512

In [229]:
data.replace('..',np.NaN,inplace=True)

In [230]:
data.isnull().sum()

year         3
country      5
GDP        848
CO2        848
dtype: int64

In [231]:
data.groupby('country').agg(lambda x: x.isnull().sum()).sort_values(['GDP']+['CO2'],ascending=False).head(60)

                           year  GDP  CO2
country
American Samoa                0   27   27
Channel Islands               0   27   27
Guam                          0   27   27
Isle of Man                   0   27   27
Monaco                        0   27   27
Northern Mariana Islands      0   27   27
St. Martin (French part)      0   27   27
Virgin Islands (U.S.)         0   27   27
South Sudan                   0   27   22
Liechtenstein                 0   27   17
Eritrea                       0   27    4
Andorra                       0   27    2
British Virgin Islands        0   27    2
Cuba                          0   27    2
Faroe Islands                 0   27    2
French Polynesia              0   27    2
Gibraltar                     0   27    2
Greenland                     0   27    2
Korea, Dem. People’s Rep.     0   27    2
New Caledonia                 0   27    2
Somalia                       0   27    2
Syrian Arab Republic          0   27    2
Venezuela, RB                 0   27    2
Yemen, Rep.                   0   27    2
Djibouti                      0   21    2
Turks and Caicos Islands      0   19    2
Sint Maarten (Dutch part)     0   17   24
Cayman Islands                0   14    2
Nauru                         0   12    2
Afghanistan                   0   10    2
Sao Tome and Principe         0    9    2
Curacao                       0    8   22
Kosovo                        0    8   18
Timor-Leste                   0    8   12
Liberia                       0    8    2
Palau                         0    8    2
Qatar                         0    8    2
Libya                         0    7    2
San Marino                    0    5   27
Montenegro                    0    5   15
Serbia                        0    3   16
Kuwait                        0    3    5
Croatia                       0    3    2
Latvia                        0    3    2
Lithuania                     0    3    2
Maldives                      0    3    2
Moldova                       0    3    2
Bosnia and Herzegovina        0    2    2
West Bank and Gaza            0    2    2
Aruba                         0    1    2
Cambodia                      0    1    2
Estonia                       0    1    2
Puerto Rico                   0    0   27
Sudan                         0    0   22
France                        0    0    4
Italy                         0    0    4
Albania                       0    0    2
Algeria                       0    0    2
Angola                        0    0    2
Antigua and Barbuda           0    0    2

In [235]:
temp=data.dropna(axis=0,thresh=4)

In [236]:
temp.isnull().sum()

year       0
country    0
GDP        0
CO2        0
dtype: int64

In [237]:
temp

      year              country               GDP                CO2
1     1992              Albania  3275.44433583801  0.774724910911141
2     1992              Algeria  8383.77024779121   2.96498636282543
5     1992               Angola  5148.25282361678  0.410522931864339
6     1992  Antigua and Barbuda  15497.4647441974    4.0952366180143
7     1992            Argentina  16209.3230774449   3.61928035773818
...    ...                  ...               ...                ...
5417  2016              Vanuatu  3061.78723983667  0.527000323357166
5419  2016              Vietnam  6767.90249535442   2.05756591685295
5421  2016   West Bank and Gaza  6438.93364028868  0.740606555214825
5423  2016               Zambia  3467.87515599636  0.314182894901441
5424  2016             Zimbabwe  2934.73365001912  0.782776886458609

[4516 rows x 4 columns]

In [239]:
temp.groupby('country').agg(lambda x: x.isnull().sum()).sort_values(['GDP']+['CO2'],ascending=False).head(60)

                          year  GDP  CO2
country
Afghanistan                  0    0    0
Albania                      0    0    0
Algeria                      0    0    0
Angola                       0    0    0
Antigua and Barbuda          0    0    0
Argentina                    0    0    0
Armenia                      0    0    0
Aruba                        0    0    0
Australia                    0    0    0
Austria                      0    0    0
Azerbaijan                   0    0    0
Bahamas, The                 0    0    0
Bahrain                      0    0    0
Bangladesh                   0    0    0
Barbados                     0    0    0
Belarus                      0    0    0
Belgium                      0    0    0
Belize                       0    0    0
Benin                        0    0    0
Bermuda                      0    0    0
Bhutan                       0    0    0
Bolivia                      0    0    0
Bosnia and Herzegovina       0    0    0
Botswana                     0    0    0
Brazil                       0    0    0
Brunei Darussalam            0    0    0
Bulgaria                     0    0    0
Burkina Faso                 0    0    0
Burundi                      0    0    0
Cabo Verde                   0    0    0
Cambodia                     0    0    0
Cameroon                     0    0    0
Canada                       0    0    0
Cayman Islands               0    0    0
Central African Republic     0    0    0
Chad                         0    0    0
Chile                        0    0    0
China                        0    0    0
Colombia                     0    0    0
Comoros                      0    0    0
Congo, Dem. Rep.             0    0    0
Congo, Rep.                  0    0    0
Costa Rica                   0    0    0
Cote d'Ivoire                0    0    0
Croatia                      0    0    0
Curacao                      0    0    0
Cyprus                       0    0    0
Czech Republic               0    0    0
Denmark                      0    0    0
Djibouti                     0    0    0
Dominica                     0    0    0
Dominican Republic           0    0    0
Ecuador                      0    0    0
Egypt, Arab Rep.             0    0    0
El Salvador                  0    0    0
Equatorial Guinea            0    0    0
Estonia                      0    0    0
Eswatini                     0    0    0
Ethiopia                     0    0    0
Fiji                         0    0    0

In [240]:
temp.head()

   year              country               GDP                CO2
1  1992              Albania  3275.44433583801  0.774724910911141
2  1992              Algeria  8383.77024779121   2.96498636282543
5  1992               Angola  5148.25282361678  0.410522931864339
6  1992  Antigua and Barbuda  15497.4647441974    4.0952366180143
7  1992            Argentina  16209.3230774449   3.61928035773818

In [164]:
temp.set_index(['country','year'],inplace=True)
print(temp.head())

                                       GDP                CO2
country             year
Albania             1992  1243.60582446625  0.774724910911141
Algeria             1992  3423.09553749392   2.96498636282543
Andorra             1992  33923.9841131311   6.91205338948512
Angola              1992  2401.23365594738  0.410522931864339
Antigua and Barbuda 1992  11107.9074844421    4.0952366180143

In [167]:
temp.reset_index(inplace=True)

In [168]:
temp.country.unique()

array(['Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica',
       "Cote d'Ivoire", 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.',
       'El Salvador', 'Equatorial Guinea', 'Eswatini', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, Rep.', 'Kyrgyz Republic', 'Lao PDR', 'Lebanon', 'Lesotho',
       'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi',
       'Malaysia', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.', 'Mongolia',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Romania', 'Russian Federation', 'Rwanda', 'Samoa',
       'Saudi Arabia', 'Senegal', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovak Republic', 'Slovenia', 'Solomon Islands',
       'South Africa', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis',
       'St. Lucia', 'St. Vincent and the Grenadines', 'Suriname',
       'Sweden', 'Switzerland', 'Tajikistan', 'Tanzania', 'Thailand',
       'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, RB', 'Vietnam',
       'Yemen, Rep.', 'Zambia', 'Zimbabwe', 'Arab World',
       'Caribbean small states', 'Central Europe and the Baltics',
       'Early-demographic dividend', 'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'OECD members',
       'Pacific island small states', 'Post-demographic dividend',
       'Pre-demographic dividend', 'South Asia',
       'South Asia (IDA & IBRD)', 'Sub-Saharan Africa',
       'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World', 'Cambodia', 'Estonia', 'Bosnia and Herzegovina',
       'Eritrea', 'West Bank and Gaza', 'Croatia', 'Kuwait', 'Latvia',
       'Lithuania', 'Maldives', 'Moldova', 'Small states', 'Libya',
       'Liberia', 'Palau', 'Qatar', 'Other small states',
       'Sao Tome and Principe', 'Afghanistan', 'Timor-Leste', 'Nauru',
       'Montenegro', 'Cayman Islands', 'Serbia', 'Kosovo', 'Djibouti',
       'Faroe Islands', 'Liechtenstein', 'Turks and Caicos Islands',
       'South Sudan', 'Sudan'], dtype=object)

In [28]:
data.set_index(['Country Name', 'Country Code','year'],inplace=True)
print(data.head())

KeyError: "None of ['Country Name', 'Country Code', 'year'] are in the columns"

[1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]

                                                      Series Name  \
Country Name Country Code
Afghanistan  AFG               GDP per capita (constant 2010 US$)
             AFG           CO2 emissions (metric tons per capita)
Albania      ALB               GDP per capita (constant 2010 US$)
             ALB           CO2 emissions (metric tons per capita)
Algeria      DZA               GDP per capita (constant 2010 US$)

                                1992 [YR1992]       1993 [YR1993]  \
Country Name Country Code
Afghanistan  AFG                           ..                  ..
             AFG           0.0961965810608727  0.0850871075160703
Albania      ALB             1243.60582446625    1370.82607057959
             ALB            0.774724910911141   0.723790291969695
Algeria      DZA             3423.09553749392    3277.57995575272

                                1994 [YR1994]       1995 [YR1995]  \
Country Name Country Code
Afghanistan  AFG                           ..                  ..
             AFG           0.0758064942125158  0.0686398621540897
Albania      ALB             1493.78590178292    1703.28184475531
             ALB            0.600203707768206   0.654537133005248
Algeria      DZA             3181.51037374949    3239.93595973574

                                1996 [YR1996]       1997 [YR1997]  \
Country Name Country Code
Afghanistan  AFG                           ..                  ..
             AFG           0.0624346107290676  0.0566423445298646
Albania      ALB             1869.86587314624    1676.12710708271
             ALB            0.636625312930768   0.490365059535664
Algeria      DZA             3314.15795584321    3296.92655497958

                                1998 [YR1998]       1999 [YR1999]  \
Country Name Country Code
Afghanistan  AFG                           ..                  ..
             AFG           0.0527632181252538  0.0407225399194997
Albania      ALB              1835.6466813013    2085.42599716821
             ALB            0.560271437384331   0.960164411868586
Algeria      DZA             3413.45152253384    3473.14311730617

                                2000 [YR2000]  ...      2009 [YR2009]  \
Country Name Country Code                      ...
Afghanistan  AFG                           ..  ...   488.300250990155
             AFG           0.0372347810411313  ...  0.238398541311049
Albania      ALB             2244.62463172571  ...   3928.45039149695
             ALB            0.978174680894664  ...   1.49560019934969
Algeria      DZA             3556.48141008253  ...   4402.44091782107

                               2010 [YR2010]      2011 [YR2011]  \
Country Name Country Code
Afghanistan  AFG            543.303041863931   528.736648057768
             AFG           0.289987629819143  0.406424217113203
Albania      ALB             4094.3503344202   4209.87480089435
             ALB            1.57857358391855   1.80371472482914
Algeria      DZA            4479.34171958005   4523.24843737859

                               2012 [YR2012]      2013 [YR2013]  \
Country Name Country Code
Afghanistan  AFG            576.190125450699   587.565090150175
             AFG           0.345148782903553  0.280454641055391
Albania      ALB            4276.60790388367   4327.37995998728
             ALB             1.6979655571764   1.69727939561161
Algeria      DZA            4586.65518491252   4621.59058905917

                               2014 [YR2014]      2015 [YR2015]  \
Country Name Country Code
Afghanistan  AFG            583.656192833123   574.184114271259
             AFG           0.253727945460333  0.262555710891417
Albania      ALB            4413.29689127908    4524.3730858712
             ALB            1.90006971019389   1.60264803417777
Algeria      DZA              4700.640562933   4775.87329508677

                               2016 [YR2016]     2017 [YR2017]  \
Country Name Country Code
Afghanistan  AFG             571.07377452356  571.440690906349
             AFG           0.245101422350223                ..
Albania      ALB            4681.82656299266  4864.31061630449
             ALB            1.57716262398295                ..
Algeria      DZA            4828.62605944022  4792.38724221245

                              2018 [YR2018]
Country Name Country Code
Afghanistan  AFG           564.609991742901
             AFG                         ..
Albania      ALB           5074.85722194352
             ALB                         ..
Algeria      DZA           4753.51098744717

[5 rows x 28 columns]

                                                                                          Series Name  \
Country Name                                     Country Code
Afghanistan                                      AFG               GDP per capita (constant 2010 US$)
                                                 AFG           CO2 emissions (metric tons per capita)
Albania                                          ALB               GDP per capita (constant 2010 US$)
                                                 ALB           CO2 emissions (metric tons per capita)
Algeria                                          DZA               GDP per capita (constant 2010 US$)
...                                                                                               ...
NaN                                              NaN                                              NaN
                                                 NaN                                              NaN
                                                 NaN                                              NaN
Data from database: World Development Indicators NaN                                              NaN
Last Updated: 03/19/2021                         NaN                                              NaN

                                                                    1992 [YR1992]  \
Country Name                                     Country Code
Afghanistan                                      AFG                           ..
                                                 AFG           0.0961965810608727
Albania                                          ALB             1243.60582446625
                                                 ALB            0.774724910911141
Algeria                                          DZA             3423.09553749392
...                                                                           ...
NaN                                              NaN                          NaN
                                                 NaN                          NaN
                                                 NaN                          NaN
Data from database: World Development Indicators NaN                          NaN
Last Updated: 03/19/2021                         NaN                          NaN

                                                                    1993 [YR1993]  \
Country Name                                     Country Code
Afghanistan                                      AFG                           ..
                                                 AFG           0.0850871075160703
Albania                                          ALB             1370.82607057959
                                                 ALB            0.723790291969695
Algeria                                          DZA             3277.57995575272
...                                                                           ...
NaN                                              NaN                          NaN
                                                 NaN                          NaN
                                                 NaN                          NaN
Data from database: World Development Indicators NaN                          NaN
Last Updated: 03/19/2021                         NaN                          NaN

                                                                    1994 [YR1994]  \
Country Name                                     Country Code
Afghanistan                                      AFG                           ..
                                                 AFG           0.0758064942125158
Albania                                          ALB             1493.78590178292
                                                 ALB            0.600203707768206
Algeria                                          DZA             3181.51037374949
...                                                                           ...
NaN                                              NaN                          NaN
                                                 NaN                          NaN
                                                 NaN                          NaN
Data from database: World Development Indicators NaN                          NaN
Last Updated: 03/19/2021                         NaN                          NaN

                                                                    1995 [YR1995]  \
Country Name                                     Country Code
Afghanistan                                      AFG                           ..
                                                 AFG           0.0686398621540897
Albania                                          ALB             1703.28184475531
                                                 ALB            0.654537133005248
Algeria                                          DZA             3239.93595973574
...                                                                           ...
NaN                                              NaN                          NaN
                                                 NaN                          NaN
                                                 NaN                          NaN
Data from database: World Development Indicators NaN                          NaN
Last Updated: 03/19/2021                         NaN                          NaN

                                                                    1996 [YR1996]  \
Country Name                                     Country Code
Afghanistan                                      AFG                           ..
                                                 AFG           0.0624346107290676
Albania                                          ALB             1869.86587314624
                                                 ALB            0.636625312930768
Algeria                                          DZA             3314.15795584321
...                                                                           ...
NaN                                              NaN                          NaN
                                                 NaN                          NaN
                                                 NaN                          NaN
Data from database: World Development Indicators NaN                          NaN
Last Updated: 03/19/2021                         NaN                          NaN

                                                                    1997 [YR1997]  \
Country Name                                     Country Code
Afghanistan                                      AFG                           ..
                                                 AFG           0.0566423445298646
Albania                                          ALB             1676.12710708271
                                                 ALB            0.490365059535664
Algeria                                          DZA             3296.92655497958
...                                                                           ...
NaN                                              NaN                          NaN
                                                 NaN                          NaN
                                                 NaN                          NaN
Data from database: World Development Indicators NaN                          NaN
Last Updated: 03/19/2021                         NaN                          NaN

                                                                    1998 [YR1998]  \
Country Name                                     Country Code
Afghanistan                                      AFG                           ..
                                                 AFG           0.0527632181252538
Albania                                          ALB              1835.6466813013
                                                 ALB            0.560271437384331
Algeria                                          DZA             3413.45152253384
...                                                                           ...
NaN                                              NaN                          NaN
                                                 NaN                          NaN
                                                 NaN                          NaN
Data from database: World Development Indicators NaN                          NaN
Last Updated: 03/19/2021                         NaN                          NaN

                                                                    1999 [YR1999]  \
Country Name                                     Country Code
Afghanistan                                      AFG                           ..
                                                 AFG           0.0407225399194997
Albania                                          ALB             2085.42599716821
                                                 ALB            0.960164411868586
Algeria                                          DZA             3473.14311730617
...                                                                           ...
NaN                                              NaN                          NaN
                                                 NaN                          NaN
                                                 NaN                          NaN
Data from database: World Development Indicators NaN                          NaN
Last Updated: 03/19/2021                         NaN                          NaN

                                                                    2000 [YR2000]  \
Country Name                                     Country Code
Afghanistan                                      AFG                           ..
                                                 AFG           0.0372347810411313
Albania                                          ALB             2244.62463172571
                                                 ALB            0.978174680894664
Algeria                                          DZA             3556.48141008253
...                                                                           ...
NaN                                              NaN                          NaN
                                                 NaN                          NaN
                                                 NaN                          NaN
Data from database: World Development Indicators NaN                          NaN
Last Updated: 03/19/2021                         NaN                          NaN

                                                               ...  \
Country Name                                     Country Code  ...
Afghanistan                                      AFG           ...
                                                 AFG           ...
Albania                                          ALB           ...
                                                 ALB           ...
Algeria                                          DZA           ...
...                                                            ...
NaN                                              NaN           ...
                                                 NaN           ...
                                                 NaN           ...
Data from database: World Development Indicators NaN           ...
Last Updated: 03/19/2021                         NaN           ...

                                                                   2009 [YR2009]  \
Country Name                                     Country Code
Afghanistan                                      AFG            488.300250990155
                                                 AFG           0.238398541311049
Albania                                          ALB            3928.45039149695
                                                 ALB            1.49560019934969
Algeria                                          DZA            4402.44091782107
...                                                                          ...
NaN                                              NaN                         NaN
                                                 NaN                         NaN
                                                 NaN                         NaN
Data from database: World Development Indicators NaN                         NaN
Last Updated: 03/19/2021                         NaN                         NaN

                                                                   2010 [YR2010]  \
Country Name                                     Country Code
Afghanistan                                      AFG            543.303041863931
                                                 AFG           0.289987629819143
Albania                                          ALB             4094.3503344202
                                                 ALB            1.57857358391855
Algeria                                          DZA            4479.34171958005
...                                                                          ...
NaN                                              NaN                         NaN
                                                 NaN                         NaN
                                                 NaN                         NaN
Data from database: World Development Indicators NaN                         NaN
Last Updated: 03/19/2021                         NaN                         NaN

                                                                   2011 [YR2011]  \
Country Name                                     Country Code
Afghanistan                                      AFG            528.736648057768
                                                 AFG           0.406424217113203
Albania                                          ALB            4209.87480089435
                                                 ALB            1.80371472482914
Algeria                                          DZA            4523.24843737859
...                                                                          ...
NaN                                              NaN                         NaN
                                                 NaN                         NaN
                                                 NaN                         NaN
Data from database: World Development Indicators NaN                         NaN
Last Updated: 03/19/2021                         NaN                         NaN

                                                                   2012 [YR2012]  \
Country Name                                     Country Code
Afghanistan                                      AFG            576.190125450699
                                                 AFG           0.345148782903553
Albania                                          ALB            4276.60790388367
                                                 ALB             1.6979655571764
Algeria                                          DZA            4586.65518491252
...                                                                          ...
NaN                                              NaN                         NaN
                                                 NaN                         NaN
                                                 NaN                         NaN
Data from database: World Development Indicators NaN                         NaN
Last Updated: 03/19/2021                         NaN                         NaN

                                                                   2013 [YR2013]  \
Country Name                                     Country Code
Afghanistan                                      AFG            587.565090150175
                                                 AFG           0.280454641055391
Albania                                          ALB            4327.37995998728
                                                 ALB            1.69727939561161
Algeria                                          DZA            4621.59058905917
...                                                                          ...
NaN                                              NaN                         NaN
                                                 NaN                         NaN
                                                 NaN                         NaN
Data from database: World Development Indicators NaN                         NaN
Last Updated: 03/19/2021                         NaN                         NaN

                                                                   2014 [YR2014]  \
Country Name                                     Country Code
Afghanistan                                      AFG            583.656192833123
                                                 AFG           0.253727945460333
Albania                                          ALB            4413.29689127908
                                                 ALB            1.90006971019389
Algeria                                          DZA              4700.640562933
...                                                                          ...
NaN                                              NaN                         NaN
                                                 NaN                         NaN
                                                 NaN                         NaN
Data from database: World Development Indicators NaN                         NaN
Last Updated: 03/19/2021                         NaN                         NaN

                                                                   2015 [YR2015]  \
Country Name                                     Country Code
Afghanistan                                      AFG            574.184114271259
                                                 AFG           0.262555710891417
Albania                                          ALB             4524.3730858712
                                                 ALB            1.60264803417777
Algeria                                          DZA            4775.87329508677
...                                                                          ...
NaN                                              NaN                         NaN
                                                 NaN                         NaN
                                                 NaN                         NaN
Data from database: World Development Indicators NaN                         NaN
Last Updated: 03/19/2021                         NaN                         NaN

                                                                   2016 [YR2016]  \
Country Name                                     Country Code
Afghanistan                                      AFG             571.07377452356
                                                 AFG           0.245101422350223
Albania                                          ALB            4681.82656299266
                                                 ALB            1.57716262398295
Algeria                                          DZA            4828.62605944022
...                                                                          ...
NaN                                              NaN                         NaN
                                                 NaN                         NaN
                                                 NaN                         NaN
Data from database: World Development Indicators NaN                         NaN
Last Updated: 03/19/2021                         NaN                         NaN


In [43]:
temp_data.columns()

TypeError: 'Index' object is not callable

In [44]:
temp_data['GDP']=temp_data[temp_data['Series Name']=='Adjusted net national income per capita (constant 2010 US$)']

ValueError: Wrong number of items passed 28, placement implies 1

In [ ]:
data.groupby("countrycode").agg(
    mean=("ind_prod_const", "mean"),
    std_dev=("ind_prod_const", "first"),
    freq=("ind_prod_const", "count"),
).dropna().reset_index().sort_values(by="countrycode")